CLCommon/Service References/CLSWRepositoryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Climalombarda.SWRepository.Service" />
  <xs:element name="GetProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="swProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Climalombarda.SWRepository.Service" minOccurs="0" name="GetProductInfoResult" nillable="true" type="q1:CLSWProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="swProductId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Climalombarda.SWRepository.Service" minOccurs="0" name="GetProductPackageResult" nillable="true" type="q2:CLSWProductPackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>